<app-modal (saved)="save()" titleText="Edit Entry">
  <form [formGroup]="form">
    <label>Zeit in Sekunden</label>
    <input
      class="shadow appearance-none border rounded w-28 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      formControlName="duration"
    />
    <div>Art</div>
    <div class="flex gap-3 mx-5 my-5">
      <app-toggle-button
        (click)="changeSpeaker(Speaker.CISM)"
        [toggled]="Speaker.CISM === currentSpeaker"
        >CIS-M</app-toggle-button
      >
      <app-toggle-button
        [toggled]="Speaker.FLINTA === currentSpeaker"
        (click)="changeSpeaker(Speaker.FLINTA)"
        >FLINTA*</app-toggle-button
      >
    </div>
    <div class="flex gap-3 mx-5 my-5">
      <app-toggle-button
        (click)="changeType(Type.Bericht)"
        [toggled]="Type.Bericht === currentType"
        >Bericht</app-toggle-button
      >
      <app-toggle-button
        [toggled]="Type.Beitrag === currentType"
        (click)="changeType(Type.Beitrag)"
        >Beitrag</app-toggle-button
      >
    </div>
  </form>
</app-modal>
