<div
  *ngFor="let redezeit of (redezeitState.redezeiten | async)?.reverse()"
  class="flex justify-center"
>
  <div class="flex shadow-lg w-96 m-1">
    <div class="font-light w-1/5">
      {{ redezeit.date | date : "shortTime" }}
    </div>
    <div class="w-1/5">
      {{ redezeit.duration | duration }}
    </div>
    <div class="w-1/5">
      {{ redezeit.speaker | speaker }}
    </div>
    <div class="w-1/5">
      {{ redezeit.type | typeRedezeit }}
    </div>
    <div class="flex justify-end flex-shrink">
      <button class="bg-gray-200 rounded-lg p-1" (click)="edit(redezeit.id)">
        <img src="./assets/icons/edit.svg" height="12px" />
      </button>
      <button class="bg-red-200 rounded-lg p-1" (click)="delete(redezeit.id)">
        <img src="./assets/icons/delete.svg" height="12px" />
      </button>
    </div>
  </div>
</div>
<app-confirm-dialog> </app-confirm-dialog>
